body {
    background-color: palegoldenrod;
}

h1 {
    color: olivedrab;
    padding: 10px;
    text-align: center;
    background-color: black;
}

.flexbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flexbox-item {
    width: 200px;
    margin: 10px;
    border: 3px solid #333;
    background-color: gray;
}

.flexbox-item-1 {
    min-height: 200px;
    min-width: 200px;
}

.flexbox-item-2 {
    min-height: 200px;
    min-width: 200px;
}

.flexbox-item-3 {
    min-height: 200px;
    min-width: 200px;
}

.flexbox-item-4 {
    min-height: 200px;
    min-width: 200px;
}

.flexbox-item-5 {
    min-height: 200px;
    min-width: 200px;
}